
.tool-bar {

	height: 60px;
	padding: 18px 8px;
	margin: -15px;
	margin-bottom: 15px;
	border: 1px solid get-color(grey, 300);

	.paper & {
		border-top: none;
		border-left: none;
		border-right: none;
	}

	.app-bar & {

		margin-top: 0;
		margin-bottom: 0;
		border: 0;
		border-bottom: 1px solid get-color(grey, 300);

	}

	a {

		padding-left: 8px;
		padding-right: 8px;
		display: table-cell;
		vertical-align: middle;
		opacity: 0.8;

		&:hover {

			opacity: 1;

		}

	}

	.form-inline {

		margin-top: -5px;

	}

	.form-group {

		border:1px solid get-color(grey, 300);
		background-color: #FFF;
		border-radius: 2px;
		width: 100%;
		padding: 0;

		.form-control {

			width: calc(100% - 70px);
			height: 30px;
			line-height: 20px;
			float: left;
			padding: 6px;

		}

		button {

			float:right;
			height: 30px;
			padding: 0 16px;
			border-radius: 1px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			i {

				margin-top: 5px;

			}

		}

	}

}
