
html, body {
	background-color: #f9f9f9;
}

.background-color-container {
	margin-top: 15px;
}

.background-color-container span.center-block {
	padding: 11px 15px;	
}

.background-color-container span.textClassLabel {
	float: left;
	width: 20%;
	font-weight: 500;
}

.background-color-container .bg-A100 span.textClassLabel,
.background-color-container .bg-A200 span.textClassLabel,
.background-color-container .bg-A400 span.textClassLabel,
.background-color-container .bg-A700 span.textClassLabel {
	font-weight: 500;
}

.background-color-container span.textClass {
	float: left;
	font-size: 85%;
	width: 80%;
	text-align: right;
}

.background-color-container h4 {
	padding: 15px;
	padding-bottom: 90px;
	margin-bottom: 5px;
}

.bg-A100 {
	margin-top: 5px;
}

.feature .lead {
	padding-left: 32px;
}

.feature .icon {
	left: 4px;
	top: 2px;
	position: absolute;
}

.version {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.version.major {
	width: 64px;
	height: 64px;
}

h1.title {
	text-transform: capitalize;
}

.app-bar-static h1.title {
	padding-left: 69px !important;
	padding-top: 22px !important;
	font-weight: 300 !important;
	font-size: 21px !important;
}

.title .divider {
	margin-left: 16px;
	margin-right: 16px;
}