
.bg-black { background-color: $color-black; color: $color-white; }
.bg-white { background-color: $color-white; color: $color-black; }

@each $color in map-keys(map-get($color-map, colors)) {

	.bg-#{"" + $color} {
		background-color: map-fetch($color-map, colors $color 500 'primary');
		color: map-fetch($color-map, colors $color 500 'text');
		a {
			color: map-fetch($color-map, colors $color 500 'text');
		}
	}

	@each $hue in map-keys(map-fetch($color-map, colors $color)) {

		.bg-#{"" + $color}.bg-#{$hue} {
			background-color: map-fetch($color-map, colors $color $hue 'primary');
			color: map-fetch($color-map, colors $color $hue 'text');
			a {
				color: map-fetch($color-map, colors $color $hue 'text');
			}
		}

	}
 
}
