
@function get-color($targetColor, $targetHue: 500) {

	@each $color in map-keys(map-get($color-map, colors)) {

		@if ($color == $targetColor) {

			@each $hue in map-keys(map-fetch($color-map, colors $color)) {

				@if ($hue == $targetHue) {

					@return map-fetch($color-map, colors $color $hue 'primary');

				}
	
			}

		}
	}

	@return $color-black;

}

$color-black:                  #000000 !default;
$color-white:                  #FFFFFF !default;

$color-map: (
	colors: (
		red: (
			50:   ( primary: #FFEBEE, text: $color-black ),
			100:  ( primary: #FFCDD2, text: $color-black ),
			200:  ( primary: #EF9A9A, text: $color-black ),
			300:  ( primary: #E57373, text: $color-black ),
			400:  ( primary: #EF5350, text: $color-black ),
			500:  ( primary: #F44336, text: $color-white ),
			600:  ( primary: #E53935, text: $color-white ),
			700:  ( primary: #D32F2F, text: $color-white ),
			800:  ( primary: #C62828, text: $color-white ),
			900:  ( primary: #B71C1C, text: $color-white ),
			A100: ( primary: #FF8A80, text: $color-black ),
			A200: ( primary: #FF5252, text: $color-white ),
			A400: ( primary: #FF1744, text: $color-white ),
			A700: ( primary: #D50000, text: $color-white )
		),
		pink: (
			50:   ( primary: #FCE4EC, text: $color-black ),
			100:  ( primary: #F8BBD0, text: $color-black ),
			200:  ( primary: #F48FB1, text: $color-black ),
			300:  ( primary: #F06292, text: $color-black ),
			400:  ( primary: #EC407A, text: $color-black ),
			500:  ( primary: #E91E63, text: $color-white ),
			600:  ( primary: #D81B60, text: $color-white ),
			700:  ( primary: #C2185B, text: $color-white ),
			800:  ( primary: #AD1457, text: $color-white ),
			900:  ( primary: #880E4F, text: $color-white ),
			A100: ( primary: #FF80AB, text: $color-black ),
			A200: ( primary: #FF4081, text: $color-white ),
			A400: ( primary: #F50057, text: $color-white ),
			A700: ( primary: #C51162, text: $color-white )
		),
		purple: (
			50:   ( primary: #F3E5F5, text: $color-black ),
			100:  ( primary: #E1BEE7, text: $color-black ),
			200:  ( primary: #CE93D8, text: $color-black ),
			300:  ( primary: #BA68C8, text: $color-white ),
			400:  ( primary: #AB47BC, text: $color-white ),
			500:  ( primary: #9C27B0, text: $color-white ),
			600:  ( primary: #8E24AA, text: $color-white ),
			700:  ( primary: #7B1FA2, text: $color-white ),
			800:  ( primary: #6A1B9A, text: $color-white ),
			900:  ( primary: #4A148C, text: $color-white ),
			A100: ( primary: #EA80FC, text: $color-black ),
			A200: ( primary: #E040FB, text: $color-white ),
			A400: ( primary: #D500F9, text: $color-white ),
			A700: ( primary: #AA00FF, text: $color-white )
		),
		deep-purple: (
			50:   ( primary: #EDE7F6, text: $color-black ),
			100:  ( primary: #D1C4E9, text: $color-black ),
			200:  ( primary: #B39DDB, text: $color-black ),
			300:  ( primary: #9575CD, text: $color-white ),
			400:  ( primary: #7E57C2, text: $color-white ),
			500:  ( primary: #673AB7, text: $color-white ),
			600:  ( primary: #5E35B1, text: $color-white ),
			700:  ( primary: #512DA8, text: $color-white ),
			800:  ( primary: #4527A0, text: $color-white ),
			900:  ( primary: #311B92, text: $color-white ),
			A100: ( primary: #B388FF, text: $color-black ),
			A200: ( primary: #7C4DFF, text: $color-white ),
			A400: ( primary: #651FFF, text: $color-white ),
			A700: ( primary: #6200EA, text: $color-white )
		),
		indigo: (
			50:   ( primary: #E8EAF6, text: $color-black ),
			100:  ( primary: #C5CAE9, text: $color-black ),
			200:  ( primary: #9FA8DA, text: $color-black ),
			300:  ( primary: #7986CB, text: $color-white ),
			400:  ( primary: #5C6BC0, text: $color-white ),
			500:  ( primary: #3F51B5, text: $color-white ),
			600:  ( primary: #3949AB, text: $color-white ),
			700:  ( primary: #303F9F, text: $color-white ),
			800:  ( primary: #283593, text: $color-white ),
			900:  ( primary: #1A237E, text: $color-white ),
			A100: ( primary: #8C9EFF, text: $color-black ),
			A200: ( primary: #536DFE, text: $color-white ),
			A400: ( primary: #3D5AFE, text: $color-white ),
			A700: ( primary: #304FFE, text: $color-white )
		),
		blue: (
			50:   ( primary: #E3F2FD, text: $color-black ),
			100:  ( primary: #BBDEFB, text: $color-black ),
			200:  ( primary: #90CAF9, text: $color-black ),
			300:  ( primary: #64B5F6, text: $color-black ),
			400:  ( primary: #42A5F5, text: $color-black ),
			500:  ( primary: #2196F3, text: $color-white ),
			600:  ( primary: #1E88E5, text: $color-white ),
			700:  ( primary: #1976D2, text: $color-white ),
			800:  ( primary: #1565C0, text: $color-white ),
			900:  ( primary: #0D47A1, text: $color-white ),
			A100: ( primary: #82B1FF, text: $color-black ),
			A200: ( primary: #448AFF, text: $color-white ),
			A400: ( primary: #2979FF, text: $color-white ),
			A700: ( primary: #2962FF, text: $color-white )
		),
		light-blue: (
			50:   ( primary: #E1F5FE, text: $color-black ),
			100:  ( primary: #B3E5FC, text: $color-black ),
			200:  ( primary: #81D4FA, text: $color-black ),
			300:  ( primary: #4FC3F7, text: $color-black ),
			400:  ( primary: #29B6F6, text: $color-black ),
			500:  ( primary: #03A9F4, text: $color-white ),
			600:  ( primary: #039BE5, text: $color-white ),
			700:  ( primary: #0288D1, text: $color-white ),
			800:  ( primary: #0277BD, text: $color-white ),
			900:  ( primary: #01579B, text: $color-white ),
			A100: ( primary: #80D8FF, text: $color-black ),
			A200: ( primary: #40C4FF, text: $color-black ),
			A400: ( primary: #00B0FF, text: $color-black ),
			A700: ( primary: #0091EA, text: $color-white )
		),
		cyan: (
			50:   ( primary: #E0F7FA, text: $color-black ),
			100:  ( primary: #B2EBF2, text: $color-black ),
			200:  ( primary: #80DEEA, text: $color-black ),
			300:  ( primary: #4DD0E1, text: $color-black ),
			400:  ( primary: #26C6DA, text: $color-black ),
			500:  ( primary: #00BCD4, text: $color-white ),
			600:  ( primary: #00ACC1, text: $color-white ),
			700:  ( primary: #0097A7, text: $color-white ),
			800:  ( primary: #00838F, text: $color-white ),
			900:  ( primary: #006064, text: $color-white ),
			A100: ( primary: #84FFFF, text: $color-black ),
			A200: ( primary: #18FFFF, text: $color-black ),
			A400: ( primary: #00E5FF, text: $color-black ),
			A700: ( primary: #00B8D4, text: $color-black )
		),
		teal: (
			50:   ( primary: #E0F2F1, text: $color-black ),
			100:  ( primary: #B2DFDB, text: $color-black ),
			200:  ( primary: #80CBC4, text: $color-black ),
			300:  ( primary: #4DB6AC, text: $color-black ),
			400:  ( primary: #26A69A, text: $color-black ),
			500:  ( primary: #009688, text: $color-white ),
			600:  ( primary: #00897B, text: $color-white ),
			700:  ( primary: #00796B, text: $color-white ),
			800:  ( primary: #00695C, text: $color-white ),
			900:  ( primary: #004D40, text: $color-white ),
			A100: ( primary: #A7FFEB, text: $color-black ),
			A200: ( primary: #64FFDA, text: $color-black ),
			A400: ( primary: #1DE9B6, text: $color-black ),
			A700: ( primary: #00BFA5, text: $color-black )
		),
		green: (
			50:   ( primary: #E8F5E9, text: $color-black ),
			100:  ( primary: #C8E6C9, text: $color-black ),
			200:  ( primary: #A5D6A7, text: $color-black ),
			300:  ( primary: #81C784, text: $color-black ),
			400:  ( primary: #66BB6A, text: $color-black ),
			500:  ( primary: #4CAF50, text: $color-white ),
			600:  ( primary: #43A047, text: $color-white ),
			700:  ( primary: #388E3C, text: $color-white ),
			800:  ( primary: #2E7D32, text: $color-white ),
			900:  ( primary: #1B5E20, text: $color-white ),
			A100: ( primary: #B9F6CA, text: $color-black ),
			A200: ( primary: #69F0AE, text: $color-black ),
			A400: ( primary: #00E676, text: $color-black ),
			A700: ( primary: #00C853, text: $color-black )
		),
		light-green: (
			50:   ( primary: #F1F8E9, text: $color-black ),
			100:  ( primary: #DCEDC8, text: $color-black ),
			200:  ( primary: #C5E1A5, text: $color-black ),
			300:  ( primary: #AED581, text: $color-black ),
			400:  ( primary: #9CCC65, text: $color-black ),
			500:  ( primary: #8BC34A, text: $color-black ),
			600:  ( primary: #7CB342, text: $color-black ),
			700:  ( primary: #689F38, text: $color-black ),
			800:  ( primary: #558B2F, text: $color-white ),
			900:  ( primary: #33691E, text: $color-white ),
			A100: ( primary: #CCFF90, text: $color-black ),
			A200: ( primary: #B2FF59, text: $color-black ),
			A400: ( primary: #76FF03, text: $color-black ),
			A700: ( primary: #64DD17, text: $color-black )
		),
		lime: (
			50:   ( primary: #F9FBE7, text: $color-black ),
			100:  ( primary: #F0F4C3, text: $color-black ),
			200:  ( primary: #E6EE9C, text: $color-black ),
			300:  ( primary: #DCE775, text: $color-black ),
			400:  ( primary: #D4E157, text: $color-black ),
			500:  ( primary: #CDDC39, text: $color-black ),
			600:  ( primary: #C0CA33, text: $color-black ),
			700:  ( primary: #AFB42B, text: $color-black ),
			800:  ( primary: #9E9D24, text: $color-black ),
			900:  ( primary: #827717, text: $color-white ),
			A100: ( primary: #F4FF81, text: $color-black ),
			A200: ( primary: #EEFF41, text: $color-black ),
			A400: ( primary: #C6FF00, text: $color-black ),
			A700: ( primary: #AEEA00, text: $color-black )
		),
		yellow: (
			50:   ( primary: #FFFDE7, text: $color-black ),
			100:  ( primary: #FFF9C4, text: $color-black ),
			200:  ( primary: #FFF59D, text: $color-black ),
			300:  ( primary: #FFF176, text: $color-black ),
			400:  ( primary: #FFEE58, text: $color-black ),
			500:  ( primary: #FFEB3B, text: $color-black ),
			600:  ( primary: #FDD835, text: $color-black ),
			700:  ( primary: #FBC02D, text: $color-black ),
			800:  ( primary: #F9A825, text: $color-black ),
			900:  ( primary: #F57F17, text: $color-black ),
			A100: ( primary: #FFFF8D, text: $color-black ),
			A200: ( primary: #FFFF00, text: $color-black ),
			A400: ( primary: #FFEA00, text: $color-black ),
			A700: ( primary: #FFD600, text: $color-black )
		),
		amber: (
			50:   ( primary: #FFF8E1, text: $color-black ),
			100:  ( primary: #FFECB3, text: $color-black ),
			200:  ( primary: #FFE082, text: $color-black ),
			300:  ( primary: #FFE082, text: $color-black ),
			400:  ( primary: #FFCA28, text: $color-black ),
			500:  ( primary: #FFC107, text: $color-black ),
			600:  ( primary: #FFB300, text: $color-black ),
			700:  ( primary: #FFA000, text: $color-black ),
			800:  ( primary: #FF8F00, text: $color-black ),
			900:  ( primary: #FF6F00, text: $color-black ),
			A100: ( primary: #FFE57F, text: $color-black ),
			A200: ( primary: #FFD740, text: $color-black ),
			A400: ( primary: #FFC400, text: $color-black ),
			A700: ( primary: #FFAB00, text: $color-black )
		),
		orange: (
			50:   ( primary: #FFF3E0, text: $color-black ),
			100:  ( primary: #FFE0B2, text: $color-black ),
			200:  ( primary: #FFCC80, text: $color-black ),
			300:  ( primary: #FFB74D, text: $color-black ),
			400:  ( primary: #FFA726, text: $color-black ),
			500:  ( primary: #FF9800, text: $color-black ),
			600:  ( primary: #FB8C00, text: $color-black ),
			700:  ( primary: #F57C00, text: $color-black ),
			800:  ( primary: #EF6C00, text: $color-white ),
			900:  ( primary: #E65100, text: $color-white ),
			A100: ( primary: #FFD180, text: $color-black ),
			A200: ( primary: #FFAB40, text: $color-black ),
			A400: ( primary: #FF9100, text: $color-black ),
			A700: ( primary: #FF6D00, text: $color-black )
		),
		deep-orange: (
			50:   ( primary: #FBE9E7, text: $color-black ),
			100:  ( primary: #FFCCBC, text: $color-black ),
			200:  ( primary: #FFAB91, text: $color-black ),
			300:  ( primary: #FF8A65, text: $color-black ),
			400:  ( primary: #FF7043, text: $color-black ),
			500:  ( primary: #FF5722, text: $color-white ),
			600:  ( primary: #F4511E, text: $color-white ),
			700:  ( primary: #E64A19, text: $color-white ),
			800:  ( primary: #D84315, text: $color-white ),
			900:  ( primary: #BF360C, text: $color-white ),
			A100: ( primary: #FF9E80, text: $color-black ),
			A200: ( primary: #FF6E40, text: $color-black ),
			A400: ( primary: #FF3D00, text: $color-white ),
			A700: ( primary: #DD2C00, text: $color-white )
		),
		brown: (
			50:   ( primary: #EFEBE9, text: $color-black ),
			100:  ( primary: #D7CCC8, text: $color-black ),
			200:  ( primary: #BCAAA4, text: $color-black ),
			300:  ( primary: #A1887F, text: $color-white ),
			400:  ( primary: #8D6E63, text: $color-white ),
			500:  ( primary: #795548, text: $color-white ),
			600:  ( primary: #6D4C41, text: $color-white ),
			700:  ( primary: #5D4037, text: $color-white ),
			800:  ( primary: #4E342E, text: $color-white ),
			900:  ( primary: #3E2723, text: $color-white )
		),
		grey: (
			50:   ( primary: #FAFAFA, text: $color-black ),
			100:  ( primary: #F5F5F5, text: $color-black ),
			200:  ( primary: #EEEEEE, text: $color-black ),
			300:  ( primary: #E0E0E0, text: $color-black ),
			400:  ( primary: #BDBDBD, text: $color-black ),
			500:  ( primary: #9E9E9E, text: $color-black ),
			600:  ( primary: #757575, text: $color-white ),
			700:  ( primary: #616161, text: $color-white ),
			800:  ( primary: #424242, text: $color-white ),
			900:  ( primary: #212121, text: $color-white )
		),
		blue-grey: (
			50:   ( primary: #ECEFF1, text: $color-black ),
			100:  ( primary: #CFD8DC, text: $color-black ),
			200:  ( primary: #B0BEC5, text: $color-black ),
			300:  ( primary: #90A4AE, text: $color-black ),
			400:  ( primary: #78909C, text: $color-white ),
			500:  ( primary: #607D8B, text: $color-white ),
			600:  ( primary: #546E7A, text: $color-white ),
			700:  ( primary: #455A64, text: $color-white ),
			800:  ( primary: #37474F, text: $color-white ),
			900:  ( primary: #263238, text: $color-white )
		)
	)
);
