
.toc {

	padding-left: 20px;
	border-left: 5px solid get-color(grey, 100);
	padding-bottom: 0;
	margin-top: 45px;
	margin-bottom: 100px;

	h3 {

		font-size: 1.1em;
		opacity: 0.5;

	}

	ul {

		padding: 0;

		li {

			list-style: none;
			line-height: 1;
			margin-top: 20px;

			a {

				font-size: 1.5em;
				line-height: 1;
				color: get-color(grey, 600);

				&:hover {

					text-decoration: none;

				}

			}

		}

	}

}


@each $color in map-keys(map-get($color-map, colors)) {

	.toc.toc-#{"" + $color} {

		border-left-color: map-fetch($color-map, colors $color 100 'primary');

		ul > li > a {

			color: map-fetch($color-map, colors $color 400 'primary');

		}

	}
 
}
