
$font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Roboto", Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          13px;
$line-height-base:        2;

@import url('https://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css'); 
