@charset "UTF-8";

// Default Variables

$slick-arrow-color: black !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 30px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 0.7 !default;
$slick-opacity-not-active: 0.25 !default;


/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff;
	}
}


/* Arrows */

/*
.slick-prev,
.slick-next {
//	 position: absolute;
	display: block;
	height: 20px;
	width: 20px;
	line-height: 0px;
	font-size: 0px;
	cursor: pointer;
	background: transparent;
//	 color: transparent;
	top: 0%;
	margin-top: -10px;
	padding: 0;
	border: none;
	outline: none;
	&:hover, &:focus {
		outline: none;
		background: transparent;
		color: transparent;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
}

.slick-prev:before, .slick-next:before {
	font-size: 20px;
	line-height: 1;
	color: $slick-arrow-color;
	opacity: $slick-opacity-default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/


.arrows {
	float: right;
}

.slick-prev,
.slick-next {

	&.slick-disabled {

		background-color: get-color(grey, 100);
		transition: background-color 0.5s ease;

		.icon {
			transition: color 0.5s ease;
			color: get-color(grey, 300);
		}

	}

	padding: 10px;
	padding-top: 25px;
	margin: 5px;
	background-color: #FFF;
	transition: background-color 0.5s ease;

	.icon {

		transition: color 0.5s ease;
		font-size: 24px;
		float: none;

	}

}

.slick-prev:hover,
.slick-next:hover {
	cursor: pointer;
	text-decoration: none;
}

/* Dots */

.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -45px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
	li {
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			border: 0;
			background: transparent;
			display: block;
			height: 20px;
			width: 20px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			&:hover, &:focus {
				outline: none;
				&:before {
					opacity: $slick-opacity-on-hover;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: $slick-dot-character;
				width: 20px;
				height: 20px;
				font-size: $slick-dot-size;
				line-height: 20px;
				text-align: center;
				color: $slick-dot-color;
				opacity: $slick-opacity-not-active;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		&.slick-active button:before {
			font-size: 40px;
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}

body {
	height: 100% !important;
}