
.status-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	padding: 0 15px;
	padding-top: 4px;
}

.status-bar .icon {
	opacity: 0.8;
	padding: 0 5px;
}

.status-bar p {
	color: #FFF;
	opacity: 0.8;
	padding: 0 5px;
	margin-top: -2px;
}
