
.ruled {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: get-color(grey, 300);
}

.breather {
	height: 15px;
	display: block;
	clear: both;
}

div.modal-backdrop.fade.in {
	height: 100%;
	position: fixed;
	opacity: 0.6;
	background-color: #000;
	z-index: 1039 !important;
}

.modal {
	border-radius: $border-radius-base;
}