
.no-top-margin {
	margin-top: 0 !important;
}

.no-right-margin {
	margin-right: 0 !important;
}

.no-bottom-margin {
	margin-bottom: 0 !important;
}

.no-left-margin {
	margin-left: 0 !important;
}


.no-top-padding {
	padding-top: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-bottom-padding {
	padding-bottom: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-bg {
	background: none !important;
}