
.bg-black 					{	background-color: $color-black;			  	color: $color-white;	}
.bg-white 					{	background-color: $color-white;			  	color: $color-black;	}

.bg-red 					{	background-color: $color-red;			  	color: $color-white;	}
.bg-red.bg-50				{	background-color: $color-red-50;		  	color: $color-black;	}
.bg-red.bg-100				{	background-color: $color-red-100;		  	color: $color-black;	}
.bg-red.bg-200				{	background-color: $color-red-200;		  	color: $color-black;	}
.bg-red.bg-300				{	background-color: $color-red-300;		  	color: $color-black;	}
.bg-red.bg-400				{	background-color: $color-red-400;		  	color: $color-black;	}
.bg-red.bg-500				{	background-color: $color-red-500;		  	color: $color-white;	}
.bg-red.bg-600				{	background-color: $color-red-600;		  	color: $color-white;	}
.bg-red.bg-700				{	background-color: $color-red-700;		  	color: $color-white;	}
.bg-red.bg-800				{	background-color: $color-red-800;		  	color: $color-white;	}
.bg-red.bg-900				{	background-color: $color-red-900;		  	color: $color-white;	}
.bg-red.bg-A100				{	background-color: $color-red-A100;		  	color: $color-black;	}
.bg-red.bg-A200				{	background-color: $color-red-A200;		  	color: $color-white;	}
.bg-red.bg-A400				{	background-color: $color-red-A400;		  	color: $color-white;	}
.bg-red.bg-A700				{	background-color: $color-red-A700;		  	color: $color-white;	}

.bg-pink 					{	background-color: $color-pink;			  	color: $color-white;	}
.bg-pink.bg-50				{	background-color: $color-pink-50;		  	color: $color-black;	}
.bg-pink.bg-100				{	background-color: $color-pink-100;		  	color: $color-black;	}
.bg-pink.bg-200				{	background-color: $color-pink-200;		  	color: $color-black;	}
.bg-pink.bg-300				{	background-color: $color-pink-300;		  	color: $color-black;	}
.bg-pink.bg-400				{	background-color: $color-pink-400;		  	color: $color-black;	}
.bg-pink.bg-500				{	background-color: $color-pink-500;		  	color: $color-white;	}
.bg-pink.bg-600				{	background-color: $color-pink-600;		  	color: $color-white;	}
.bg-pink.bg-700				{	background-color: $color-pink-700;		  	color: $color-white;	}
.bg-pink.bg-800				{	background-color: $color-pink-800;		  	color: $color-white;	}
.bg-pink.bg-900				{	background-color: $color-pink-900;		  	color: $color-white;	}
.bg-pink.bg-A100			{	background-color: $color-pink-A100;		  	color: $color-black;	}
.bg-pink.bg-A200			{	background-color: $color-pink-A200;		  	color: $color-white;	}
.bg-pink.bg-A400			{	background-color: $color-pink-A400;		  	color: $color-white;	}
.bg-pink.bg-A700			{	background-color: $color-pink-A700;		  	color: $color-white;	}

.bg-purple 					{	background-color: $color-purple;		  	color: $color-white;	}
.bg-purple.bg-50			{	background-color: $color-purple-50;		  	color: $color-black;	}
.bg-purple.bg-100			{	background-color: $color-purple-100;	  	color: $color-black;	}
.bg-purple.bg-200			{	background-color: $color-purple-200;	  	color: $color-black;	}
.bg-purple.bg-300			{	background-color: $color-purple-300;	  	color: $color-white;	}
.bg-purple.bg-400			{	background-color: $color-purple-400;	  	color: $color-white;	}
.bg-purple.bg-500			{	background-color: $color-purple-500;	  	color: $color-white;	}
.bg-purple.bg-600			{	background-color: $color-purple-600;	  	color: $color-white;	}
.bg-purple.bg-700			{	background-color: $color-purple-700;	  	color: $color-white;	}
.bg-purple.bg-800			{	background-color: $color-purple-800;	  	color: $color-white;	}
.bg-purple.bg-900			{	background-color: $color-purple-900;	  	color: $color-white;	}
.bg-purple.bg-A100			{	background-color: $color-purple-A100;	  	color: $color-black;	}
.bg-purple.bg-A200			{	background-color: $color-purple-A200;	  	color: $color-white;	}
.bg-purple.bg-A400			{	background-color: $color-purple-A400;	  	color: $color-white;	}
.bg-purple.bg-A700			{	background-color: $color-purple-A700;	  	color: $color-white;	}

.bg-deep-purple				{	background-color: $color-deep-purple;	  	color: $color-white;	}
.bg-deep-purple.bg-50		{	background-color: $color-deep-purple-50;  	color: $color-black;	}
.bg-deep-purple.bg-100		{	background-color: $color-deep-purple-100; 	color: $color-black;	}
.bg-deep-purple.bg-200		{	background-color: $color-deep-purple-200; 	color: $color-black;	}
.bg-deep-purple.bg-300		{	background-color: $color-deep-purple-300; 	color: $color-white;	}
.bg-deep-purple.bg-400		{	background-color: $color-deep-purple-400; 	color: $color-white;	}
.bg-deep-purple.bg-500		{	background-color: $color-deep-purple-500; 	color: $color-white;	}
.bg-deep-purple.bg-600		{	background-color: $color-deep-purple-600; 	color: $color-white;	}
.bg-deep-purple.bg-700		{	background-color: $color-deep-purple-700; 	color: $color-white;	}
.bg-deep-purple.bg-800		{	background-color: $color-deep-purple-800; 	color: $color-white;	}
.bg-deep-purple.bg-900		{	background-color: $color-deep-purple-900; 	color: $color-white;	}
.bg-deep-purple.bg-A100		{	background-color: $color-deep-purple-A100;	color: $color-black;	}
.bg-deep-purple.bg-A200		{	background-color: $color-deep-purple-A200;	color: $color-white;	}
.bg-deep-purple.bg-A400		{	background-color: $color-deep-purple-A400;	color: $color-white;	}
.bg-deep-purple.bg-A700		{	background-color: $color-deep-purple-A700;	color: $color-white;	}

.bg-indigo 					{	background-color: $color-indigo;		  	color: $color-white;	}
.bg-indigo.bg-50			{	background-color: $color-indigo-50;		  	color: $color-black;	}
.bg-indigo.bg-100			{	background-color: $color-indigo-100;	  	color: $color-black;	}
.bg-indigo.bg-200			{	background-color: $color-indigo-200;	  	color: $color-black;	}
.bg-indigo.bg-300			{	background-color: $color-indigo-300;	  	color: $color-white;	}
.bg-indigo.bg-400			{	background-color: $color-indigo-400;	  	color: $color-white;	}
.bg-indigo.bg-500			{	background-color: $color-indigo-500;	  	color: $color-white;	}
.bg-indigo.bg-600			{	background-color: $color-indigo-600;	  	color: $color-white;	}
.bg-indigo.bg-700			{	background-color: $color-indigo-700;	  	color: $color-white;	}
.bg-indigo.bg-800			{	background-color: $color-indigo-800;	  	color: $color-white;	}
.bg-indigo.bg-900			{	background-color: $color-indigo-900;	  	color: $color-white;	}
.bg-indigo.bg-A100			{	background-color: $color-indigo-A100;	  	color: $color-black;	}
.bg-indigo.bg-A200			{	background-color: $color-indigo-A200;	  	color: $color-white;	}
.bg-indigo.bg-A400			{	background-color: $color-indigo-A400;	  	color: $color-white;	}
.bg-indigo.bg-A700			{	background-color: $color-indigo-A700;	  	color: $color-white;	}

.bg-blue 					{	background-color: $color-blue;			  	color: $color-white;	}
.bg-blue.bg-50				{	background-color: $color-blue-50;		  	color: $color-black;	}
.bg-blue.bg-100				{	background-color: $color-blue-100;		  	color: $color-black;	}
.bg-blue.bg-200				{	background-color: $color-blue-200;		  	color: $color-black;	}
.bg-blue.bg-300				{	background-color: $color-blue-300;		  	color: $color-black;	}
.bg-blue.bg-400				{	background-color: $color-blue-400;		  	color: $color-white;	}
.bg-blue.bg-500				{	background-color: $color-blue-500;		  	color: $color-white;	}
.bg-blue.bg-600				{	background-color: $color-blue-600;		  	color: $color-white;	}
.bg-blue.bg-700				{	background-color: $color-blue-700;		  	color: $color-white;	}
.bg-blue.bg-800				{	background-color: $color-blue-800;		  	color: $color-white;	}
.bg-blue.bg-900				{	background-color: $color-blue-900;		  	color: $color-white;	}
.bg-blue.bg-A100			{	background-color: $color-blue-A100;		  	color: $color-black;	}
.bg-blue.bg-A200			{	background-color: $color-blue-A200;		  	color: $color-white;	}
.bg-blue.bg-A400			{	background-color: $color-blue-A400;		  	color: $color-white;	}
.bg-blue.bg-A700			{	background-color: $color-blue-A700;		  	color: $color-white;	}

.bg-light-blue	 			{	background-color: $color-light-blue;	  	color: $color-white;	}
.bg-light-blue.bg-50		{	background-color: $color-light-blue-50;	  	color: $color-black;	}
.bg-light-blue.bg-100		{	background-color: $color-light-blue-100;  	color: $color-black;	}
.bg-light-blue.bg-200		{	background-color: $color-light-blue-200;  	color: $color-black;	}
.bg-light-blue.bg-300		{	background-color: $color-light-blue-300;  	color: $color-black;	}
.bg-light-blue.bg-400		{	background-color: $color-light-blue-400;  	color: $color-black;	}
.bg-light-blue.bg-500		{	background-color: $color-light-blue-500;  	color: $color-white;	}
.bg-light-blue.bg-600		{	background-color: $color-light-blue-600;  	color: $color-white;	}
.bg-light-blue.bg-700		{	background-color: $color-light-blue-700;  	color: $color-white;	}
.bg-light-blue.bg-800		{	background-color: $color-light-blue-800;  	color: $color-white;	}
.bg-light-blue.bg-900		{	background-color: $color-light-blue-900;  	color: $color-white;	}
.bg-light-blue.bg-A100		{	background-color: $color-light-blue-A100; 	color: $color-black;	}
.bg-light-blue.bg-A200		{	background-color: $color-light-blue-A200; 	color: $color-black;	}
.bg-light-blue.bg-A400		{	background-color: $color-light-blue-A400; 	color: $color-black;	}
.bg-light-blue.bg-A700		{	background-color: $color-light-blue-A700; 	color: $color-white;	}

.bg-cyan 					{	background-color: $color-cyan;			  	color: $color-white;	}
.bg-cyan.bg-50				{	background-color: $color-cyan-50;		  	color: $color-black;	}
.bg-cyan.bg-100				{	background-color: $color-cyan-100;		  	color: $color-black;	}
.bg-cyan.bg-200				{	background-color: $color-cyan-200;		  	color: $color-black;	}
.bg-cyan.bg-300				{	background-color: $color-cyan-300;		  	color: $color-black;	}
.bg-cyan.bg-400				{	background-color: $color-cyan-400;		  	color: $color-black;	}
.bg-cyan.bg-500				{	background-color: $color-cyan-500;		  	color: $color-white;	}
.bg-cyan.bg-600				{	background-color: $color-cyan-600;		  	color: $color-white;	}
.bg-cyan.bg-700				{	background-color: $color-cyan-700;		  	color: $color-white;	}
.bg-cyan.bg-800				{	background-color: $color-cyan-800;		  	color: $color-white;	}
.bg-cyan.bg-900				{	background-color: $color-cyan-900;		  	color: $color-white;	}
.bg-cyan.bg-A100			{	background-color: $color-cyan-A100;		  	color: $color-black;	}
.bg-cyan.bg-A200			{	background-color: $color-cyan-A200;		  	color: $color-black;	}
.bg-cyan.bg-A400			{	background-color: $color-cyan-A400;		  	color: $color-black;	}
.bg-cyan.bg-A700			{	background-color: $color-cyan-A700;		  	color: $color-black;	}

.bg-teal 					{	background-color: $color-teal;			  	color: $color-white;	}
.bg-teal.bg-50				{	background-color: $color-teal-50;		  	color: $color-black;	}
.bg-teal.bg-100				{	background-color: $color-teal-100;		  	color: $color-black;	}
.bg-teal.bg-200				{	background-color: $color-teal-200;		  	color: $color-black;	}
.bg-teal.bg-300				{	background-color: $color-teal-300;		  	color: $color-black;	}
.bg-teal.bg-400				{	background-color: $color-teal-400;		  	color: $color-black;	}
.bg-teal.bg-500				{	background-color: $color-teal-500;		  	color: $color-white;	}
.bg-teal.bg-600				{	background-color: $color-teal-600;		  	color: $color-white;	}
.bg-teal.bg-700				{	background-color: $color-teal-700;		  	color: $color-white;	}
.bg-teal.bg-800				{	background-color: $color-teal-800;		  	color: $color-white;	}
.bg-teal.bg-900				{	background-color: $color-teal-900;		  	color: $color-white;	}
.bg-teal.bg-A100			{	background-color: $color-teal-A100;		  	color: $color-black;	}
.bg-teal.bg-A200			{	background-color: $color-teal-A200;		  	color: $color-black;	}
.bg-teal.bg-A400			{	background-color: $color-teal-A400;		  	color: $color-black;	}
.bg-teal.bg-A700			{	background-color: $color-teal-A700;		  	color: $color-black;	}

.bg-green 					{	background-color: $color-green;			  	color: $color-white;	}
.bg-green.bg-50 			{	background-color: $color-green-50;		  	color: $color-black;	}
.bg-green.bg-100			{	background-color: $color-green-100;		  	color: $color-black;	}
.bg-green.bg-200			{	background-color: $color-green-200;		  	color: $color-black;	}
.bg-green.bg-300			{	background-color: $color-green-300;		  	color: $color-black;	}
.bg-green.bg-400			{	background-color: $color-green-400;		  	color: $color-black;	}
.bg-green.bg-500			{	background-color: $color-green-500;		  	color: $color-white;	}
.bg-green.bg-600			{	background-color: $color-green-600;		  	color: $color-white;	}
.bg-green.bg-700			{	background-color: $color-green-700;		  	color: $color-white;	}
.bg-green.bg-800			{	background-color: $color-green-800;		  	color: $color-white;	}
.bg-green.bg-900			{	background-color: $color-green-900;		  	color: $color-white;	}
.bg-green.bg-A100			{	background-color: $color-green-A100;	  	color: $color-black;	}
.bg-green.bg-A200			{	background-color: $color-green-A200;	  	color: $color-black;	}
.bg-green.bg-A400			{	background-color: $color-green-A400;	  	color: $color-black;	}
.bg-green.bg-A700			{	background-color: $color-green-A700;	  	color: $color-black;	}

.bg-light-green		 		{	background-color: $color-light-green;	  	color: $color-white;	}
.bg-light-green.bg-50		{	background-color: $color-light-green-50;  	color: $color-black;	}
.bg-light-green.bg-100		{	background-color: $color-light-green-100; 	color: $color-black;	}
.bg-light-green.bg-200		{	background-color: $color-light-green-200; 	color: $color-black;	}
.bg-light-green.bg-300		{	background-color: $color-light-green-300; 	color: $color-black;	}
.bg-light-green.bg-400		{	background-color: $color-light-green-400; 	color: $color-black;	}
.bg-light-green.bg-500		{	background-color: $color-light-green-500; 	color: $color-black;	}
.bg-light-green.bg-600		{	background-color: $color-light-green-600; 	color: $color-black;	}
.bg-light-green.bg-700		{	background-color: $color-light-green-700; 	color: $color-black;	}
.bg-light-green.bg-800		{	background-color: $color-light-green-800; 	color: $color-white;	}
.bg-light-green.bg-900		{	background-color: $color-light-green-900; 	color: $color-white;	}
.bg-light-green.bg-A100		{	background-color: $color-light-green-A100;	color: $color-black;	}
.bg-light-green.bg-A200		{	background-color: $color-light-green-A200;	color: $color-black;	}
.bg-light-green.bg-A400		{	background-color: $color-light-green-A400;	color: $color-black;	}
.bg-light-green.bg-A700		{	background-color: $color-light-green-A700;	color: $color-black;	}

.bg-lime 					{	background-color: $color-lime;			  	color: $color-black;	}
.bg-lime.bg-50				{	background-color: $color-lime-50;		  	color: $color-black;	}
.bg-lime.bg-100				{	background-color: $color-lime-100;		  	color: $color-black;	}
.bg-lime.bg-200				{	background-color: $color-lime-200;		  	color: $color-black;	}
.bg-lime.bg-300				{	background-color: $color-lime-300;		  	color: $color-black;	}
.bg-lime.bg-400				{	background-color: $color-lime-400;		  	color: $color-black;	}
.bg-lime.bg-500				{	background-color: $color-lime-500;		  	color: $color-black;	}
.bg-lime.bg-600				{	background-color: $color-lime-600;		  	color: $color-black;	}
.bg-lime.bg-700				{	background-color: $color-lime-700;		  	color: $color-black;	}
.bg-lime.bg-800				{	background-color: $color-lime-800;		  	color: $color-black;	}
.bg-lime.bg-900				{	background-color: $color-lime-900;		  	color: $color-white;	}
.bg-lime.bg-A100			{	background-color: $color-lime-A100;		  	color: $color-black;	}
.bg-lime.bg-A200			{	background-color: $color-lime-A200;		  	color: $color-black;	}
.bg-lime.bg-A400			{	background-color: $color-lime-A400;		  	color: $color-black;	}
.bg-lime.bg-A700			{	background-color: $color-lime-A700;		  	color: $color-black;	}

.bg-yellow 					{	background-color: $color-yellow;		  	color: $color-black;	}
.bg-yellow.bg-50			{	background-color: $color-yellow-50;		  	color: $color-black;	}
.bg-yellow.bg-100			{	background-color: $color-yellow-100;	  	color: $color-black;	}
.bg-yellow.bg-200			{	background-color: $color-yellow-200;	  	color: $color-black;	}
.bg-yellow.bg-300			{	background-color: $color-yellow-300;	  	color: $color-black;	}
.bg-yellow.bg-400			{	background-color: $color-yellow-400;	  	color: $color-black;	}
.bg-yellow.bg-500			{	background-color: $color-yellow-500;	  	color: $color-black;	}
.bg-yellow.bg-600			{	background-color: $color-yellow-600;	  	color: $color-black;	}
.bg-yellow.bg-700			{	background-color: $color-yellow-700;	  	color: $color-black;	}
.bg-yellow.bg-800			{	background-color: $color-yellow-800;	  	color: $color-black;	}
.bg-yellow.bg-900			{	background-color: $color-yellow-900;	  	color: $color-black;	}
.bg-yellow.bg-A100			{	background-color: $color-yellow-A100;	  	color: $color-black;	}
.bg-yellow.bg-A200			{	background-color: $color-yellow-A200;	  	color: $color-black;	}
.bg-yellow.bg-A400			{	background-color: $color-yellow-A400;	  	color: $color-black;	}
.bg-yellow.bg-A700			{	background-color: $color-yellow-A700;	  	color: $color-black;	}

.bg-amber 					{	background-color: $color-amber;			  	color: $color-black;	}
.bg-amber.bg-50				{	background-color: $color-amber-50;		  	color: $color-black;	}
.bg-amber.bg-100			{	background-color: $color-amber-100;		  	color: $color-black;	}
.bg-amber.bg-200			{	background-color: $color-amber-200;		  	color: $color-black;	}
.bg-amber.bg-300			{	background-color: $color-amber-300;		  	color: $color-black;	}
.bg-amber.bg-400			{	background-color: $color-amber-400;		  	color: $color-black;	}
.bg-amber.bg-500			{	background-color: $color-amber-500;		  	color: $color-black;	}
.bg-amber.bg-600			{	background-color: $color-amber-600;		  	color: $color-black;	}
.bg-amber.bg-700			{	background-color: $color-amber-700;		  	color: $color-black;	}
.bg-amber.bg-800			{	background-color: $color-amber-800;		  	color: $color-black;	}
.bg-amber.bg-900			{	background-color: $color-amber-900;		  	color: $color-black;	}
.bg-amber.bg-A100			{	background-color: $color-amber-A100;	  	color: $color-black;	}
.bg-amber.bg-A200			{	background-color: $color-amber-A200;	  	color: $color-black;	}
.bg-amber.bg-A400			{	background-color: $color-amber-A400;	  	color: $color-black;	}
.bg-amber.bg-A700			{	background-color: $color-amber-A700;	  	color: $color-black;	}

.bg-orange 					{	background-color: $color-orange;		  	color: $color-black;	}
.bg-orange.bg-50			{	background-color: $color-orange-50;		  	color: $color-black;	}
.bg-orange.bg-100			{	background-color: $color-orange-100;	  	color: $color-black;	}
.bg-orange.bg-200			{	background-color: $color-orange-200;	  	color: $color-black;	}
.bg-orange.bg-300			{	background-color: $color-orange-300;	  	color: $color-black;	}
.bg-orange.bg-400			{	background-color: $color-orange-400;	  	color: $color-black;	}
.bg-orange.bg-500			{	background-color: $color-orange-500;	  	color: $color-black;	}
.bg-orange.bg-600			{	background-color: $color-orange-600;	  	color: $color-black;	}
.bg-orange.bg-700			{	background-color: $color-orange-700;	  	color: $color-black;	}
.bg-orange.bg-800			{	background-color: $color-orange-800;	  	color: $color-white;	}
.bg-orange.bg-900			{	background-color: $color-orange-900;	  	color: $color-white;	}
.bg-orange.bg-A100			{	background-color: $color-orange-A100;	  	color: $color-black;	}
.bg-orange.bg-A200			{	background-color: $color-orange-A200;	  	color: $color-black;	}
.bg-orange.bg-A400			{	background-color: $color-orange-A400;	  	color: $color-black;	}
.bg-orange.bg-A700			{	background-color: $color-orange-A700;	  	color: $color-black;	}

.bg-deep-orange		 		{	background-color: $color-deep-orange;	  	color: $color-white;	}
.bg-deep-orange.bg-50		{	background-color: $color-deep-orange-50;  	color: $color-black;	}
.bg-deep-orange.bg-100		{	background-color: $color-deep-orange-100; 	color: $color-black;	}
.bg-deep-orange.bg-200		{	background-color: $color-deep-orange-200; 	color: $color-black;	}
.bg-deep-orange.bg-300		{	background-color: $color-deep-orange-300; 	color: $color-black;	}
.bg-deep-orange.bg-400		{	background-color: $color-deep-orange-400; 	color: $color-black;	}
.bg-deep-orange.bg-500		{	background-color: $color-deep-orange-500; 	color: $color-white;	}
.bg-deep-orange.bg-600		{	background-color: $color-deep-orange-600; 	color: $color-white;	}
.bg-deep-orange.bg-700		{	background-color: $color-deep-orange-700; 	color: $color-white;	}
.bg-deep-orange.bg-800		{	background-color: $color-deep-orange-800; 	color: $color-white;	}
.bg-deep-orange.bg-900		{	background-color: $color-deep-orange-900; 	color: $color-white;	}
.bg-deep-orange.bg-A100		{	background-color: $color-deep-orange-A100;	color: $color-black;	}
.bg-deep-orange.bg-A200		{	background-color: $color-deep-orange-A200;	color: $color-black;	}
.bg-deep-orange.bg-A400		{	background-color: $color-deep-orange-A400;	color: $color-white;	}
.bg-deep-orange.bg-A700		{	background-color: $color-deep-orange-A700;	color: $color-white;	}

.bg-brown 					{	background-color: $color-brown;			  	color: $color-white;	}
.bg-brown.bg-50				{	background-color: $color-brown-50;		  	color: $color-black;	}
.bg-brown.bg-100			{	background-color: $color-brown-100;		  	color: $color-black;	}
.bg-brown.bg-200			{	background-color: $color-brown-200;		  	color: $color-black;	}
.bg-brown.bg-300			{	background-color: $color-brown-300;		  	color: $color-white;	}
.bg-brown.bg-400			{	background-color: $color-brown-400;		  	color: $color-white;	}
.bg-brown.bg-500			{	background-color: $color-brown-500;		  	color: $color-white;	}
.bg-brown.bg-600			{	background-color: $color-brown-600;		  	color: $color-white;	}
.bg-brown.bg-700			{	background-color: $color-brown-700;		  	color: $color-white;	}
.bg-brown.bg-800			{	background-color: $color-brown-800;		  	color: $color-white;	}
.bg-brown.bg-900			{	background-color: $color-brown-900;		  	color: $color-white;	}

.bg-grey 					{	background-color: $color-grey;			  	color: $color-black;	}
.bg-grey.bg-50				{	background-color: $color-grey-50;		  	color: $color-black;	}
.bg-grey.bg-100				{	background-color: $color-grey-100;		  	color: $color-black;	}
.bg-grey.bg-200				{	background-color: $color-grey-200;		  	color: $color-black;	}
.bg-grey.bg-300				{	background-color: $color-grey-300;		  	color: $color-black;	}
.bg-grey.bg-400				{	background-color: $color-grey-400;		  	color: $color-black;	}
.bg-grey.bg-500				{	background-color: $color-grey-500;		  	color: $color-black;	}
.bg-grey.bg-600				{	background-color: $color-grey-600;		  	color: $color-white;	}
.bg-grey.bg-700				{	background-color: $color-grey-700;		  	color: $color-white;	}
.bg-grey.bg-800				{	background-color: $color-grey-800;		  	color: $color-white;	}
.bg-grey.bg-900				{	background-color: $color-grey-900;		  	color: $color-white;	}

.bg-blue-grey	 			{	background-color: $color-blue-grey;		  	color: $color-white;	}
.bg-blue-grey.bg-50			{	background-color: $color-blue-grey-50;	  	color: $color-black;	}
.bg-blue-grey.bg-100		{	background-color: $color-blue-grey-100;	  	color: $color-black;	}
.bg-blue-grey.bg-200		{	background-color: $color-blue-grey-200;	  	color: $color-black;	}
.bg-blue-grey.bg-300		{	background-color: $color-blue-grey-300;	  	color: $color-black;	}
.bg-blue-grey.bg-400		{	background-color: $color-blue-grey-400;	  	color: $color-white;	}
.bg-blue-grey.bg-500		{	background-color: $color-blue-grey-500;	  	color: $color-white;	}
.bg-blue-grey.bg-600		{	background-color: $color-blue-grey-600;	  	color: $color-white;	}
.bg-blue-grey.bg-700		{	background-color: $color-blue-grey-700;	  	color: $color-white;	}
.bg-blue-grey.bg-800		{	background-color: $color-blue-grey-800;	  	color: $color-white;	}
.bg-blue-grey.bg-900		{	background-color: $color-blue-grey-900;	  	color: $color-white;	}
