
.bg-red 				{	background-color: $color-red;			  	color: $color-white;	}
.bg-red-50				{	background-color: $color-red-50;		  	color: $color-black;	}
.bg-red-100				{	background-color: $color-red-100;		  	color: $color-black;	}
.bg-red-200				{	background-color: $color-red-200;		  	color: $color-black;	}
.bg-red-300				{	background-color: $color-red-300;		  	color: $color-black;	}
.bg-red-400				{	background-color: $color-red-400;		  	color: $color-black;	}
.bg-red-500				{	background-color: $color-red-500;		  	color: $color-white;	}
.bg-red-600				{	background-color: $color-red-600;		  	color: $color-white;	}
.bg-red-700				{	background-color: $color-red-700;		  	color: $color-white;	}
.bg-red-800				{	background-color: $color-red-800;		  	color: $color-white;	}
.bg-red-900				{	background-color: $color-red-900;		  	color: $color-white;	}
.bg-red-A100			{	background-color: $color-red-A100;		  	color: $color-black;	}
.bg-red-A200			{	background-color: $color-red-A200;		  	color: $color-white;	}
.bg-red-A400			{	background-color: $color-red-A400;		  	color: $color-white;	}
.bg-red-A700			{	background-color: $color-red-A700;		  	color: $color-white;	}

.bg-pink 				{	background-color: $color-pink;			  	color: $color-white;	}
.bg-pink-50				{	background-color: $color-pink-50;		  	color: $color-black;	}
.bg-pink-100			{	background-color: $color-pink-100;		  	color: $color-black;	}
.bg-pink-200			{	background-color: $color-pink-200;		  	color: $color-black;	}
.bg-pink-300			{	background-color: $color-pink-300;		  	color: $color-black;	}
.bg-pink-400			{	background-color: $color-pink-400;		  	color: $color-black;	}
.bg-pink-500			{	background-color: $color-pink-500;		  	color: $color-white;	}
.bg-pink-600			{	background-color: $color-pink-600;		  	color: $color-white;	}
.bg-pink-700			{	background-color: $color-pink-700;		  	color: $color-white;	}
.bg-pink-800			{	background-color: $color-pink-800;		  	color: $color-white;	}
.bg-pink-900			{	background-color: $color-pink-900;		  	color: $color-white;	}
.bg-pink-A100			{	background-color: $color-pink-A100;		  	color: $color-black;	}
.bg-pink-A200			{	background-color: $color-pink-A200;		  	color: $color-white;	}
.bg-pink-A400			{	background-color: $color-pink-A400;		  	color: $color-white;	}
.bg-pink-A700			{	background-color: $color-pink-A700;		  	color: $color-white;	}

.bg-purple 				{	background-color: $color-purple;		  	color: $color-white;	}
.bg-purple-50			{	background-color: $color-purple-50;		  	color: $color-black;	}
.bg-purple-100			{	background-color: $color-purple-100;	  	color: $color-black;	}
.bg-purple-200			{	background-color: $color-purple-200;	  	color: $color-black;	}
.bg-purple-300			{	background-color: $color-purple-300;	  	color: $color-white;	}
.bg-purple-400			{	background-color: $color-purple-400;	  	color: $color-white;	}
.bg-purple-500			{	background-color: $color-purple-500;	  	color: $color-white;	}
.bg-purple-600			{	background-color: $color-purple-600;	  	color: $color-white;	}
.bg-purple-700			{	background-color: $color-purple-700;	  	color: $color-white;	}
.bg-purple-800			{	background-color: $color-purple-800;	  	color: $color-white;	}
.bg-purple-900			{	background-color: $color-purple-900;	  	color: $color-white;	}
.bg-purple-A100			{	background-color: $color-purple-A100;	  	color: $color-black;	}
.bg-purple-A200			{	background-color: $color-purple-A200;	  	color: $color-white;	}
.bg-purple-A400			{	background-color: $color-purple-A400;	  	color: $color-white;	}
.bg-purple-A700			{	background-color: $color-purple-A700;	  	color: $color-white;	}

.bg-deep-purple 		{	background-color: $color-deep-purple;	  	color: $color-white;	}
.bg-deep-purple-50		{	background-color: $color-deep-purple-50;  	color: $color-black;	}
.bg-deep-purple-100		{	background-color: $color-deep-purple-100; 	color: $color-black;	}
.bg-deep-purple-200		{	background-color: $color-deep-purple-200; 	color: $color-black;	}
.bg-deep-purple-300		{	background-color: $color-deep-purple-300; 	color: $color-white;	}
.bg-deep-purple-400		{	background-color: $color-deep-purple-400; 	color: $color-white;	}
.bg-deep-purple-500		{	background-color: $color-deep-purple-500; 	color: $color-white;	}
.bg-deep-purple-600		{	background-color: $color-deep-purple-600; 	color: $color-white;	}
.bg-deep-purple-700		{	background-color: $color-deep-purple-700; 	color: $color-white;	}
.bg-deep-purple-800		{	background-color: $color-deep-purple-800; 	color: $color-white;	}
.bg-deep-purple-900		{	background-color: $color-deep-purple-900; 	color: $color-white;	}
.bg-deep-purple-A100	{	background-color: $color-deep-purple-A100;	color: $color-black;	}
.bg-deep-purple-A200	{	background-color: $color-deep-purple-A200;	color: $color-white;	}
.bg-deep-purple-A400	{	background-color: $color-deep-purple-A400;	color: $color-white;	}
.bg-deep-purple-A700	{	background-color: $color-deep-purple-A700;	color: $color-white;	}

.bg-indigo 				{	background-color: $color-indigo;		  	color: $color-white;	}
.bg-indigo-50			{	background-color: $color-indigo-50;		  	color: $color-black;	}
.bg-indigo-100			{	background-color: $color-indigo-100;	  	color: $color-black;	}
.bg-indigo-200			{	background-color: $color-indigo-200;	  	color: $color-black;	}
.bg-indigo-300			{	background-color: $color-indigo-300;	  	color: $color-white;	}
.bg-indigo-400			{	background-color: $color-indigo-400;	  	color: $color-white;	}
.bg-indigo-500			{	background-color: $color-indigo-500;	  	color: $color-white;	}
.bg-indigo-600			{	background-color: $color-indigo-600;	  	color: $color-white;	}
.bg-indigo-700			{	background-color: $color-indigo-700;	  	color: $color-white;	}
.bg-indigo-800			{	background-color: $color-indigo-800;	  	color: $color-white;	}
.bg-indigo-900			{	background-color: $color-indigo-900;	  	color: $color-white;	}
.bg-indigo-A100			{	background-color: $color-indigo-A100;	  	color: $color-black;	}
.bg-indigo-A200			{	background-color: $color-indigo-A200;	  	color: $color-white;	}
.bg-indigo-A400			{	background-color: $color-indigo-A400;	  	color: $color-white;	}
.bg-indigo-A700			{	background-color: $color-indigo-A700;	  	color: $color-white;	}

.bg-blue 				{	background-color: $color-blue;			  	color: $color-white;	}
.bg-blue-50				{	background-color: $color-blue-50;		  	color: $color-black;	}
.bg-blue-100			{	background-color: $color-blue-100;		  	color: $color-black;	}
.bg-blue-200			{	background-color: $color-blue-200;		  	color: $color-black;	}
.bg-blue-300			{	background-color: $color-blue-300;		  	color: $color-black;	}
.bg-blue-400			{	background-color: $color-blue-400;		  	color: $color-white;	}
.bg-blue-500			{	background-color: $color-blue-500;		  	color: $color-white;	}
.bg-blue-600			{	background-color: $color-blue-600;		  	color: $color-white;	}
.bg-blue-700			{	background-color: $color-blue-700;		  	color: $color-white;	}
.bg-blue-800			{	background-color: $color-blue-800;		  	color: $color-white;	}
.bg-blue-900			{	background-color: $color-blue-900;		  	color: $color-white;	}
.bg-blue-A100			{	background-color: $color-blue-A100;		  	color: $color-black;	}
.bg-blue-A200			{	background-color: $color-blue-A200;		  	color: $color-white;	}
.bg-blue-A400			{	background-color: $color-blue-A400;		  	color: $color-white;	}
.bg-blue-A700			{	background-color: $color-blue-A700;		  	color: $color-white;	}

.bg-light-blue 			{	background-color: $color-light-blue;	  	color: $color-white;	}
.bg-light-blue-50		{	background-color: $color-light-blue-50;	  	color: $color-black;	}
.bg-light-blue-100		{	background-color: $color-light-blue-100;  	color: $color-black;	}
.bg-light-blue-200		{	background-color: $color-light-blue-200;  	color: $color-black;	}
.bg-light-blue-300		{	background-color: $color-light-blue-300;  	color: $color-black;	}
.bg-light-blue-400		{	background-color: $color-light-blue-400;  	color: $color-black;	}
.bg-light-blue-500		{	background-color: $color-light-blue-500;  	color: $color-white;	}
.bg-light-blue-600		{	background-color: $color-light-blue-600;  	color: $color-white;	}
.bg-light-blue-700		{	background-color: $color-light-blue-700;  	color: $color-white;	}
.bg-light-blue-800		{	background-color: $color-light-blue-800;  	color: $color-white;	}
.bg-light-blue-900		{	background-color: $color-light-blue-900;  	color: $color-white;	}
.bg-light-blue-A100		{	background-color: $color-light-blue-A100; 	color: $color-black;	}
.bg-light-blue-A200		{	background-color: $color-light-blue-A200; 	color: $color-black;	}
.bg-light-blue-A400		{	background-color: $color-light-blue-A400; 	color: $color-black;	}
.bg-light-blue-A700		{	background-color: $color-light-blue-A700; 	color: $color-white;	}

.bg-cyan 				{	background-color: $color-cyan;			  	color: $color-white;	}
.bg-cyan-50				{	background-color: $color-cyan-50;		  	color: $color-black;	}
.bg-cyan-100			{	background-color: $color-cyan-100;		  	color: $color-black;	}
.bg-cyan-200			{	background-color: $color-cyan-200;		  	color: $color-black;	}
.bg-cyan-300			{	background-color: $color-cyan-300;		  	color: $color-black;	}
.bg-cyan-400			{	background-color: $color-cyan-400;		  	color: $color-black;	}
.bg-cyan-500			{	background-color: $color-cyan-500;		  	color: $color-white;	}
.bg-cyan-600			{	background-color: $color-cyan-600;		  	color: $color-white;	}
.bg-cyan-700			{	background-color: $color-cyan-700;		  	color: $color-white;	}
.bg-cyan-800			{	background-color: $color-cyan-800;		  	color: $color-white;	}
.bg-cyan-900			{	background-color: $color-cyan-900;		  	color: $color-white;	}
.bg-cyan-A100			{	background-color: $color-cyan-A100;		  	color: $color-black;	}
.bg-cyan-A200			{	background-color: $color-cyan-A200;		  	color: $color-black;	}
.bg-cyan-A400			{	background-color: $color-cyan-A400;		  	color: $color-black;	}
.bg-cyan-A700			{	background-color: $color-cyan-A700;		  	color: $color-black;	}

.bg-teal 				{	background-color: $color-teal;			  	color: $color-white;	}
.bg-teal-50				{	background-color: $color-teal-50;		  	color: $color-black;	}
.bg-teal-100			{	background-color: $color-teal-100;		  	color: $color-black;	}
.bg-teal-200			{	background-color: $color-teal-200;		  	color: $color-black;	}
.bg-teal-300			{	background-color: $color-teal-300;		  	color: $color-black;	}
.bg-teal-400			{	background-color: $color-teal-400;		  	color: $color-black;	}
.bg-teal-500			{	background-color: $color-teal-500;		  	color: $color-white;	}
.bg-teal-600			{	background-color: $color-teal-600;		  	color: $color-white;	}
.bg-teal-700			{	background-color: $color-teal-700;		  	color: $color-white;	}
.bg-teal-800			{	background-color: $color-teal-800;		  	color: $color-white;	}
.bg-teal-900			{	background-color: $color-teal-900;		  	color: $color-white;	}
.bg-teal-A100			{	background-color: $color-teal-A100;		  	color: $color-black;	}
.bg-teal-A200			{	background-color: $color-teal-A200;		  	color: $color-black;	}
.bg-teal-A400			{	background-color: $color-teal-A400;		  	color: $color-black;	}
.bg-teal-A700			{	background-color: $color-teal-A700;		  	color: $color-black;	}

.bg-green 				{	background-color: $color-green;			  	color: $color-white;	}
.bg-green-50 			{	background-color: $color-green-50;		  	color: $color-black;	}
.bg-green-100			{	background-color: $color-green-100;		  	color: $color-black;	}
.bg-green-200			{	background-color: $color-green-200;		  	color: $color-black;	}
.bg-green-300			{	background-color: $color-green-300;		  	color: $color-black;	}
.bg-green-400			{	background-color: $color-green-400;		  	color: $color-black;	}
.bg-green-500			{	background-color: $color-green-500;		  	color: $color-white;	}
.bg-green-600			{	background-color: $color-green-600;		  	color: $color-white;	}
.bg-green-700			{	background-color: $color-green-700;		  	color: $color-white;	}
.bg-green-800			{	background-color: $color-green-800;		  	color: $color-white;	}
.bg-green-900			{	background-color: $color-green-900;		  	color: $color-white;	}
.bg-green-A100			{	background-color: $color-green-A100;	  	color: $color-black;	}
.bg-green-A200			{	background-color: $color-green-A200;	  	color: $color-black;	}
.bg-green-A400			{	background-color: $color-green-A400;	  	color: $color-black;	}
.bg-green-A700			{	background-color: $color-green-A700;	  	color: $color-black;	}

.bg-light-green 		{	background-color: $color-light-green;	  	color: $color-white;	}
.bg-light-green-50		{	background-color: $color-light-green-50;  	color: $color-black;	}
.bg-light-green-100		{	background-color: $color-light-green-100; 	color: $color-black;	}
.bg-light-green-200		{	background-color: $color-light-green-200; 	color: $color-black;	}
.bg-light-green-300		{	background-color: $color-light-green-300; 	color: $color-black;	}
.bg-light-green-400		{	background-color: $color-light-green-400; 	color: $color-black;	}
.bg-light-green-500		{	background-color: $color-light-green-500; 	color: $color-black;	}
.bg-light-green-600		{	background-color: $color-light-green-600; 	color: $color-black;	}
.bg-light-green-700		{	background-color: $color-light-green-700; 	color: $color-black;	}
.bg-light-green-800		{	background-color: $color-light-green-800; 	color: $color-white;	}
.bg-light-green-900		{	background-color: $color-light-green-900; 	color: $color-white;	}
.bg-light-green-A100	{	background-color: $color-light-green-A100;	color: $color-black;	}
.bg-light-green-A200	{	background-color: $color-light-green-A200;	color: $color-black;	}
.bg-light-green-A400	{	background-color: $color-light-green-A400;	color: $color-black;	}
.bg-light-green-A700	{	background-color: $color-light-green-A700;	color: $color-black;	}

.bg-lime 				{	background-color: $color-lime;			  	color: $color-black;	}
.bg-lime-50				{	background-color: $color-lime-50;		  	color: $color-black;	}
.bg-lime-100			{	background-color: $color-lime-100;		  	color: $color-black;	}
.bg-lime-200			{	background-color: $color-lime-200;		  	color: $color-black;	}
.bg-lime-300			{	background-color: $color-lime-300;		  	color: $color-black;	}
.bg-lime-400			{	background-color: $color-lime-400;		  	color: $color-black;	}
.bg-lime-500			{	background-color: $color-lime-500;		  	color: $color-black;	}
.bg-lime-600			{	background-color: $color-lime-600;		  	color: $color-black;	}
.bg-lime-700			{	background-color: $color-lime-700;		  	color: $color-black;	}
.bg-lime-800			{	background-color: $color-lime-800;		  	color: $color-black;	}
.bg-lime-900			{	background-color: $color-lime-900;		  	color: $color-white;	}
.bg-lime-A100			{	background-color: $color-lime-A100;		  	color: $color-black;	}
.bg-lime-A200			{	background-color: $color-lime-A200;		  	color: $color-black;	}
.bg-lime-A400			{	background-color: $color-lime-A400;		  	color: $color-black;	}
.bg-lime-A700			{	background-color: $color-lime-A700;		  	color: $color-black;	}

.bg-yellow 				{	background-color: $color-yellow;		  	color: $color-black;	}
.bg-yellow-50			{	background-color: $color-yellow-50;		  	color: $color-black;	}
.bg-yellow-100			{	background-color: $color-yellow-100;	  	color: $color-black;	}
.bg-yellow-200			{	background-color: $color-yellow-200;	  	color: $color-black;	}
.bg-yellow-300			{	background-color: $color-yellow-300;	  	color: $color-black;	}
.bg-yellow-400			{	background-color: $color-yellow-400;	  	color: $color-black;	}
.bg-yellow-500			{	background-color: $color-yellow-500;	  	color: $color-black;	}
.bg-yellow-600			{	background-color: $color-yellow-600;	  	color: $color-black;	}
.bg-yellow-700			{	background-color: $color-yellow-700;	  	color: $color-black;	}
.bg-yellow-800			{	background-color: $color-yellow-800;	  	color: $color-black;	}
.bg-yellow-900			{	background-color: $color-yellow-900;	  	color: $color-black;	}
.bg-yellow-A100			{	background-color: $color-yellow-A100;	  	color: $color-black;	}
.bg-yellow-A200			{	background-color: $color-yellow-A200;	  	color: $color-black;	}
.bg-yellow-A400			{	background-color: $color-yellow-A400;	  	color: $color-black;	}
.bg-yellow-A700			{	background-color: $color-yellow-A700;	  	color: $color-black;	}

.bg-amber 				{	background-color: $color-amber;			  	color: $color-black;	}
.bg-amber-50			{	background-color: $color-amber-50;		  	color: $color-black;	}
.bg-amber-100			{	background-color: $color-amber-100;		  	color: $color-black;	}
.bg-amber-200			{	background-color: $color-amber-200;		  	color: $color-black;	}
.bg-amber-300			{	background-color: $color-amber-300;		  	color: $color-black;	}
.bg-amber-400			{	background-color: $color-amber-400;		  	color: $color-black;	}
.bg-amber-500			{	background-color: $color-amber-500;		  	color: $color-black;	}
.bg-amber-600			{	background-color: $color-amber-600;		  	color: $color-black;	}
.bg-amber-700			{	background-color: $color-amber-700;		  	color: $color-black;	}
.bg-amber-800			{	background-color: $color-amber-800;		  	color: $color-black;	}
.bg-amber-900			{	background-color: $color-amber-900;		  	color: $color-black;	}
.bg-amber-A100			{	background-color: $color-amber-A100;	  	color: $color-black;	}
.bg-amber-A200			{	background-color: $color-amber-A200;	  	color: $color-black;	}
.bg-amber-A400			{	background-color: $color-amber-A400;	  	color: $color-black;	}
.bg-amber-A700			{	background-color: $color-amber-A700;	  	color: $color-black;	}

.bg-orange 				{	background-color: $color-orange;		  	color: $color-black;	}
.bg-orange-50			{	background-color: $color-orange-50;		  	color: $color-black;	}
.bg-orange-100			{	background-color: $color-orange-100;	  	color: $color-black;	}
.bg-orange-200			{	background-color: $color-orange-200;	  	color: $color-black;	}
.bg-orange-300			{	background-color: $color-orange-300;	  	color: $color-black;	}
.bg-orange-400			{	background-color: $color-orange-400;	  	color: $color-black;	}
.bg-orange-500			{	background-color: $color-orange-500;	  	color: $color-black;	}
.bg-orange-600			{	background-color: $color-orange-600;	  	color: $color-black;	}
.bg-orange-700			{	background-color: $color-orange-700;	  	color: $color-black;	}
.bg-orange-800			{	background-color: $color-orange-800;	  	color: $color-white;	}
.bg-orange-900			{	background-color: $color-orange-900;	  	color: $color-white;	}
.bg-orange-A100			{	background-color: $color-orange-A100;	  	color: $color-black;	}
.bg-orange-A200			{	background-color: $color-orange-A200;	  	color: $color-black;	}
.bg-orange-A400			{	background-color: $color-orange-A400;	  	color: $color-black;	}
.bg-orange-A700			{	background-color: $color-orange-A700;	  	color: $color-black;	}

.bg-deep-orange 		{	background-color: $color-deep-orange;	  	color: $color-white;	}
.bg-deep-orange-50		{	background-color: $color-deep-orange-50;  	color: $color-black;	}
.bg-deep-orange-100		{	background-color: $color-deep-orange-100; 	color: $color-black;	}
.bg-deep-orange-200		{	background-color: $color-deep-orange-200; 	color: $color-black;	}
.bg-deep-orange-300		{	background-color: $color-deep-orange-300; 	color: $color-black;	}
.bg-deep-orange-400		{	background-color: $color-deep-orange-400; 	color: $color-black;	}
.bg-deep-orange-500		{	background-color: $color-deep-orange-500; 	color: $color-white;	}
.bg-deep-orange-600		{	background-color: $color-deep-orange-600; 	color: $color-white;	}
.bg-deep-orange-700		{	background-color: $color-deep-orange-700; 	color: $color-white;	}
.bg-deep-orange-800		{	background-color: $color-deep-orange-800; 	color: $color-white;	}
.bg-deep-orange-900		{	background-color: $color-deep-orange-900; 	color: $color-white;	}
.bg-deep-orange-A100	{	background-color: $color-deep-orange-A100;	color: $color-black;	}
.bg-deep-orange-A200	{	background-color: $color-deep-orange-A200;	color: $color-black;	}
.bg-deep-orange-A400	{	background-color: $color-deep-orange-A400;	color: $color-white;	}
.bg-deep-orange-A700	{	background-color: $color-deep-orange-A700;	color: $color-white;	}

.bg-brown 				{	background-color: $color-brown;			  	color: $color-white;	}
.bg-brown-50			{	background-color: $color-brown-50;		  	color: $color-black;	}
.bg-brown-100			{	background-color: $color-brown-100;		  	color: $color-black;	}
.bg-brown-200			{	background-color: $color-brown-200;		  	color: $color-black;	}
.bg-brown-300			{	background-color: $color-brown-300;		  	color: $color-white;	}
.bg-brown-400			{	background-color: $color-brown-400;		  	color: $color-white;	}
.bg-brown-500			{	background-color: $color-brown-500;		  	color: $color-white;	}
.bg-brown-600			{	background-color: $color-brown-600;		  	color: $color-white;	}
.bg-brown-700			{	background-color: $color-brown-700;		  	color: $color-white;	}
.bg-brown-800			{	background-color: $color-brown-800;		  	color: $color-white;	}
.bg-brown-900			{	background-color: $color-brown-900;		  	color: $color-white;	}

.bg-grey 				{	background-color: $color-grey;			  	color: $color-black;	}
.bg-grey-50				{	background-color: $color-grey-50;		  	color: $color-black;	}
.bg-grey-100			{	background-color: $color-grey-100;		  	color: $color-black;	}
.bg-grey-200			{	background-color: $color-grey-200;		  	color: $color-black;	}
.bg-grey-300			{	background-color: $color-grey-300;		  	color: $color-black;	}
.bg-grey-400			{	background-color: $color-grey-400;		  	color: $color-black;	}
.bg-grey-500			{	background-color: $color-grey-500;		  	color: $color-black;	}
.bg-grey-600			{	background-color: $color-grey-600;		  	color: $color-white;	}
.bg-grey-700			{	background-color: $color-grey-700;		  	color: $color-white;	}
.bg-grey-800			{	background-color: $color-grey-800;		  	color: $color-white;	}
.bg-grey-900			{	background-color: $color-grey-900;		  	color: $color-white;	}

.bg-blue-grey 			{	background-color: $color-blue-grey;		  	color: $color-white;	}
.bg-blue-grey-50		{	background-color: $color-blue-grey-50;	  	color: $color-black;	}
.bg-blue-grey-100		{	background-color: $color-blue-grey-100;	  	color: $color-black;	}
.bg-blue-grey-200		{	background-color: $color-blue-grey-200;	  	color: $color-black;	}
.bg-blue-grey-300		{	background-color: $color-blue-grey-300;	  	color: $color-black;	}
.bg-blue-grey-400		{	background-color: $color-blue-grey-400;	  	color: $color-white;	}
.bg-blue-grey-500		{	background-color: $color-blue-grey-500;	  	color: $color-white;	}
.bg-blue-grey-600		{	background-color: $color-blue-grey-600;	  	color: $color-white;	}
.bg-blue-grey-700		{	background-color: $color-blue-grey-700;	  	color: $color-white;	}
.bg-blue-grey-800		{	background-color: $color-blue-grey-800;	  	color: $color-white;	}
.bg-blue-grey-900		{	background-color: $color-blue-grey-900;	  	color: $color-white;	}
