
.btn-xl {
  @include button-size($padding-extra-large-vertical, $padding-extra-large-horizontal, $font-size-extra-large, $line-height-extra-large, $border-radius-extra-large);
}

.btn-xxl {
  @include button-size($padding-extra-extra-large-vertical, $padding-extra-extra-large-horizontal, $font-size-extra-extra-large, $line-height-extra-extra-large, $border-radius-extra-extra-large);
}



@mixin inverted-button-variant($color, $background, $alt) {
  color: $color;
  background-color: $background;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $alt;
    background-color: darken($background, 10%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
    }
  }

  .badge {
    color: $alt;
    background-color: $color;
  }
}













.btn {
	border: none;
}

.btn-inverted {
	background-color: rgba(0,0,0,0);
	color: $btn-default-color;
	&:hover,
	&:focus,
	&.focus {
		background: none;
	}
}

.btn-inverted.btn-default {
	@include inverted-button-variant($btn-default-color, rgba(0,0,0,0), $btn-default-alt);
}

.btn-inverted.btn-primary {
	@include inverted-button-variant($btn-primary-bg, rgba(0,0,0,0), $btn-primary-alt);
}

.btn-inverted.btn-success {
	@include inverted-button-variant($btn-success-bg, rgba(0,0,0,0), $btn-success-alt);
}

.btn-inverted.btn-info {
	@include inverted-button-variant($btn-info-bg, rgba(0,0,0,0), $btn-info-alt);
}

.btn-inverted.btn-warning {
	@include inverted-button-variant($btn-warning-bg, rgba(0,0,0,0), $btn-warning-alt);
}

.btn-inverted.btn-danger {
	@include inverted-button-variant($btn-danger-bg, rgba(0,0,0,0), $btn-danger-alt);
}
