
.form-control {
	border-radius: 0;
	background-color: rgba(0,0,0,0);
	box-shadow: none;
	border: none;
	border-bottom: 2px solid get-color(grey, 300);
	padding-left: 0;
	padding-right: 0;
	@include placeholder(get-color(grey, 400));
}

.form-control:focus {
	outline: 0;
	border-bottom: 2px solid get-color(light-blue);
	box-shadow: none;
	@include placeholder(get-color(light-blue, 100));
}

.form-control:focus::-webkit-input-placeholder {
	transition: color ease-in-out 0.3s; 
}

.form-control::-webkit-input-placeholder {
	transition: color ease-in-out 0.4s; 
}

.help-block {
	color: get-color(grey, 400);
}
