
body {
	color: $color-grey-800;
	color: $color-blue-800;
	font-family: 'Roboto', sans-serif;
}

p {
	color: $color-grey-600;
}

a {
	color: $color-light-blue-400;
}

a:hover {
	color: $color-light-blue-700;
}
