
.text-red 				{	color: $color-red;				}
.text-red-50			{	color: $color-red-50;			}
.text-red-100			{	color: $color-red-100;			}
.text-red-200			{	color: $color-red-200;			}
.text-red-300			{	color: $color-red-300;			}
.text-red-400			{	color: $color-red-400;			}
.text-red-500			{	color: $color-red-500;			}
.text-red-600			{	color: $color-red-600;			}
.text-red-700			{	color: $color-red-700;			}
.text-red-800			{	color: $color-red-800;			}
.text-red-900			{	color: $color-red-900;			}
.text-red-A100			{	color: $color-red-A100;			}
.text-red-A200			{	color: $color-red-A200;			}
.text-red-A400			{	color: $color-red-A400;			}
.text-red-A700			{	color: $color-red-A700;			}

.text-pink 				{	color: $color-pink;				}
.text-pink-50			{	color: $color-pink-50;			}
.text-pink-100			{	color: $color-pink-100;			}
.text-pink-200			{	color: $color-pink-200;			}
.text-pink-300			{	color: $color-pink-300;			}
.text-pink-400			{	color: $color-pink-400;			}
.text-pink-500			{	color: $color-pink-500;			}
.text-pink-600			{	color: $color-pink-600;			}
.text-pink-700			{	color: $color-pink-700;			}
.text-pink-800			{	color: $color-pink-800;			}
.text-pink-900			{	color: $color-pink-900;			}
.text-pink-A100			{	color: $color-pink-A100;		}
.text-pink-A200			{	color: $color-pink-A200;		}
.text-pink-A400			{	color: $color-pink-A400;		}
.text-pink-A700			{	color: $color-pink-A700;		}

.text-purple 			{	color: $color-purple;			}
.text-purple-50			{	color: $color-purple-50;		}
.text-purple-100		{	color: $color-purple-100;		}
.text-purple-200		{	color: $color-purple-200;		}
.text-purple-300		{	color: $color-purple-300;		}
.text-purple-400		{	color: $color-purple-400;		}
.text-purple-500		{	color: $color-purple-500;		}
.text-purple-600		{	color: $color-purple-600;		}
.text-purple-700		{	color: $color-purple-700;		}
.text-purple-800		{	color: $color-purple-800;		}
.text-purple-900		{	color: $color-purple-900;		}
.text-purple-A100		{	color: $color-purple-A100;		}
.text-purple-A200		{	color: $color-purple-A200;		}
.text-purple-A400		{	color: $color-purple-A400;		}
.text-purple-A700		{	color: $color-purple-A700;		}

.text-deep-purple 		{	color: $color-deep-purple;		}
.text-deep-purple-50	{	color: $color-deep-purple-50;	}
.text-deep-purple-100	{	color: $color-deep-purple-100;	}
.text-deep-purple-200	{	color: $color-deep-purple-200;	}
.text-deep-purple-300	{	color: $color-deep-purple-300;	}
.text-deep-purple-400	{	color: $color-deep-purple-400;	}
.text-deep-purple-500	{	color: $color-deep-purple-500;	}
.text-deep-purple-600	{	color: $color-deep-purple-600;	}
.text-deep-purple-700	{	color: $color-deep-purple-700;	}
.text-deep-purple-800	{	color: $color-deep-purple-800;	}
.text-deep-purple-900	{	color: $color-deep-purple-900;	}
.text-deep-purple-A100	{	color: $color-deep-purple-A100;	}
.text-deep-purple-A200	{	color: $color-deep-purple-A200;	}
.text-deep-purple-A400	{	color: $color-deep-purple-A400;	}
.text-deep-purple-A700	{	color: $color-deep-purple-A700;	}

.text-indigo 			{	color: $color-indigo;			}
.text-indigo-50			{	color: $color-indigo-50;		}
.text-indigo-100		{	color: $color-indigo-100;		}
.text-indigo-200		{	color: $color-indigo-200;		}
.text-indigo-300		{	color: $color-indigo-300;		}
.text-indigo-400		{	color: $color-indigo-400;		}
.text-indigo-500		{	color: $color-indigo-500;		}
.text-indigo-600		{	color: $color-indigo-600;		}
.text-indigo-700		{	color: $color-indigo-700;		}
.text-indigo-800		{	color: $color-indigo-800;		}
.text-indigo-900		{	color: $color-indigo-900;		}
.text-indigo-A100		{	color: $color-indigo-A100;		}
.text-indigo-A200		{	color: $color-indigo-A200;		}
.text-indigo-A400		{	color: $color-indigo-A400;		}
.text-indigo-A700		{	color: $color-indigo-A700;		}

.text-blue 				{	color: $color-blue;				}
.text-blue-50			{	color: $color-blue-50;			}
.text-blue-100			{	color: $color-blue-100;			}
.text-blue-200			{	color: $color-blue-200;			}
.text-blue-300			{	color: $color-blue-300;			}
.text-blue-400			{	color: $color-blue-400;			}
.text-blue-500			{	color: $color-blue-500;			}
.text-blue-600			{	color: $color-blue-600;			}
.text-blue-700			{	color: $color-blue-700;			}
.text-blue-800			{	color: $color-blue-800;			}
.text-blue-900			{	color: $color-blue-900;			}
.text-blue-A100			{	color: $color-blue-A100;		}
.text-blue-A200			{	color: $color-blue-A200;		}
.text-blue-A400			{	color: $color-blue-A400;		}
.text-blue-A700			{	color: $color-blue-A700;		}

.text-light-blue 		{	color: $color-light-blue;		}
.text-light-blue-50		{	color: $color-light-blue-50;	}
.text-light-blue-100	{	color: $color-light-blue-100;	}
.text-light-blue-200	{	color: $color-light-blue-200;	}
.text-light-blue-300	{	color: $color-light-blue-300;	}
.text-light-blue-400	{	color: $color-light-blue-400;	}
.text-light-blue-500	{	color: $color-light-blue-500;	}
.text-light-blue-600	{	color: $color-light-blue-600;	}
.text-light-blue-700	{	color: $color-light-blue-700;	}
.text-light-blue-800	{	color: $color-light-blue-800;	}
.text-light-blue-900	{	color: $color-light-blue-900;	}
.text-light-blue-A100	{	color: $color-light-blue-A100;	}
.text-light-blue-A200	{	color: $color-light-blue-A200;	}
.text-light-blue-A400	{	color: $color-light-blue-A400;	}
.text-light-blue-A700	{	color: $color-light-blue-A700;	}

.text-cyan 				{	color: $color-cyan;				}
.text-cyan-50			{	color: $color-cyan-50;			}
.text-cyan-100			{	color: $color-cyan-100;			}
.text-cyan-200			{	color: $color-cyan-200;			}
.text-cyan-300			{	color: $color-cyan-300;			}
.text-cyan-400			{	color: $color-cyan-400;			}
.text-cyan-500			{	color: $color-cyan-500;			}
.text-cyan-600			{	color: $color-cyan-600;			}
.text-cyan-700			{	color: $color-cyan-700;			}
.text-cyan-800			{	color: $color-cyan-800;			}
.text-cyan-900			{	color: $color-cyan-900;			}
.text-cyan-A100			{	color: $color-cyan-A100;		}
.text-cyan-A200			{	color: $color-cyan-A200;		}
.text-cyan-A400			{	color: $color-cyan-A400;		}
.text-cyan-A700			{	color: $color-cyan-A700;		}

.text-teal 				{	color: $color-teal;				}
.text-teal-50			{	color: $color-teal-50;			}
.text-teal-100			{	color: $color-teal-100;			}
.text-teal-200			{	color: $color-teal-200;			}
.text-teal-300			{	color: $color-teal-300;			}
.text-teal-400			{	color: $color-teal-400;			}
.text-teal-500			{	color: $color-teal-500;			}
.text-teal-600			{	color: $color-teal-600;			}
.text-teal-700			{	color: $color-teal-700;			}
.text-teal-800			{	color: $color-teal-800;			}
.text-teal-900			{	color: $color-teal-900;			}
.text-teal-A100			{	color: $color-teal-A100;		}
.text-teal-A200			{	color: $color-teal-A200;		}
.text-teal-A400			{	color: $color-teal-A400;		}
.text-teal-A700			{	color: $color-teal-A700;		}

.text-green 			{	color: $color-green;			}
.text-green-50 			{	color: $color-green-50;			}
.text-green-100			{	color: $color-green-100;		}
.text-green-200			{	color: $color-green-200;		}
.text-green-300			{	color: $color-green-300;		}
.text-green-400			{	color: $color-green-400;		}
.text-green-500			{	color: $color-green-500;		}
.text-green-600			{	color: $color-green-600;		}
.text-green-700			{	color: $color-green-700;		}
.text-green-800			{	color: $color-green-800;		}
.text-green-900			{	color: $color-green-900;		}
.text-green-A100		{	color: $color-green-A100;		}
.text-green-A200		{	color: $color-green-A200;		}
.text-green-A400		{	color: $color-green-A400;		}
.text-green-A700		{	color: $color-green-A700;		}

.text-light-green 		{	color: $color-light-green;		}
.text-light-green-50	{	color: $color-light-green-50;	}
.text-light-green-100	{	color: $color-light-green-100;	}
.text-light-green-200	{	color: $color-light-green-200;	}
.text-light-green-300	{	color: $color-light-green-300;	}
.text-light-green-400	{	color: $color-light-green-400;	}
.text-light-green-500	{	color: $color-light-green-500;	}
.text-light-green-600	{	color: $color-light-green-600;	}
.text-light-green-700	{	color: $color-light-green-700;	}
.text-light-green-800	{	color: $color-light-green-800;	}
.text-light-green-900	{	color: $color-light-green-900;	}
.text-light-green-A100	{	color: $color-light-green-A100;	}
.text-light-green-A200	{	color: $color-light-green-A200;	}
.text-light-green-A400	{	color: $color-light-green-A400;	}
.text-light-green-A700	{	color: $color-light-green-A700;	}

.text-lime 				{	color: $color-lime;				}
.text-lime-50			{	color: $color-lime-50;			}
.text-lime-100			{	color: $color-lime-100;			}
.text-lime-200			{	color: $color-lime-200;			}
.text-lime-300			{	color: $color-lime-300;			}
.text-lime-400			{	color: $color-lime-400;			}
.text-lime-500			{	color: $color-lime-500;			}
.text-lime-600			{	color: $color-lime-600;			}
.text-lime-700			{	color: $color-lime-700;			}
.text-lime-800			{	color: $color-lime-800;			}
.text-lime-900			{	color: $color-lime-900;			}
.text-lime-A100			{	color: $color-lime-A100;		}
.text-lime-A200			{	color: $color-lime-A200;		}
.text-lime-A400			{	color: $color-lime-A400;		}
.text-lime-A700			{	color: $color-lime-A700;		}

.text-yellow 			{	color: $color-yellow;			}
.text-yellow-50			{	color: $color-yellow-50;		}
.text-yellow-100		{	color: $color-yellow-100;		}
.text-yellow-200		{	color: $color-yellow-200;		}
.text-yellow-300		{	color: $color-yellow-300;		}
.text-yellow-400		{	color: $color-yellow-400;		}
.text-yellow-500		{	color: $color-yellow-500;		}
.text-yellow-600		{	color: $color-yellow-600;		}
.text-yellow-700		{	color: $color-yellow-700;		}
.text-yellow-800		{	color: $color-yellow-800;		}
.text-yellow-900		{	color: $color-yellow-900;		}
.text-yellow-A100		{	color: $color-yellow-A100;		}
.text-yellow-A200		{	color: $color-yellow-A200;		}
.text-yellow-A400		{	color: $color-yellow-A400;		}
.text-yellow-A700		{	color: $color-yellow-A700;		}

.text-amber 			{	color: $color-amber;			}
.text-amber-50			{	color: $color-amber-50;			}
.text-amber-100			{	color: $color-amber-100;		}
.text-amber-200			{	color: $color-amber-200;		}
.text-amber-300			{	color: $color-amber-300;		}
.text-amber-400			{	color: $color-amber-400;		}
.text-amber-500			{	color: $color-amber-500;		}
.text-amber-600			{	color: $color-amber-600;		}
.text-amber-700			{	color: $color-amber-700;		}
.text-amber-800			{	color: $color-amber-800;		}
.text-amber-900			{	color: $color-amber-900;		}
.text-amber-A100		{	color: $color-amber-A100;		}
.text-amber-A200		{	color: $color-amber-A200;		}
.text-amber-A400		{	color: $color-amber-A400;		}
.text-amber-A700		{	color: $color-amber-A700;		}

.text-orange 			{	color: $color-orange;			}
.text-orange-50			{	color: $color-orange-50;		}
.text-orange-100		{	color: $color-orange-100;		}
.text-orange-200		{	color: $color-orange-200;		}
.text-orange-300		{	color: $color-orange-300;		}
.text-orange-400		{	color: $color-orange-400;		}
.text-orange-500		{	color: $color-orange-500;		}
.text-orange-600		{	color: $color-orange-600;		}
.text-orange-700		{	color: $color-orange-700;		}
.text-orange-800		{	color: $color-orange-800;		}
.text-orange-900		{	color: $color-orange-900;		}
.text-orange-A100		{	color: $color-orange-A100;		}
.text-orange-A200		{	color: $color-orange-A200;		}
.text-orange-A400		{	color: $color-orange-A400;		}
.text-orange-A700		{	color: $color-orange-A700;		}

.text-deep-orange 		{	color: $color-deep-orange;		}
.text-deep-orange-50	{	color: $color-deep-orange-50;	}
.text-deep-orange-100	{	color: $color-deep-orange-100;	}
.text-deep-orange-200	{	color: $color-deep-orange-200;	}
.text-deep-orange-300	{	color: $color-deep-orange-300;	}
.text-deep-orange-400	{	color: $color-deep-orange-400;	}
.text-deep-orange-500	{	color: $color-deep-orange-500;	}
.text-deep-orange-600	{	color: $color-deep-orange-600;	}
.text-deep-orange-700	{	color: $color-deep-orange-700;	}
.text-deep-orange-800	{	color: $color-deep-orange-800;	}
.text-deep-orange-900	{	color: $color-deep-orange-900;	}
.text-deep-orange-A100	{	color: $color-deep-orange-A100;	}
.text-deep-orange-A200	{	color: $color-deep-orange-A200;	}
.text-deep-orange-A400	{	color: $color-deep-orange-A400;	}
.text-deep-orange-A700	{	color: $color-deep-orange-A700;	}

.text-brown 			{	color: $color-brown;			}
.text-brown-50			{	color: $color-brown-50;			}
.text-brown-100			{	color: $color-brown-100;		}
.text-brown-200			{	color: $color-brown-200;		}
.text-brown-300			{	color: $color-brown-300;		}
.text-brown-400			{	color: $color-brown-400;		}
.text-brown-500			{	color: $color-brown-500;		}
.text-brown-600			{	color: $color-brown-600;		}
.text-brown-700			{	color: $color-brown-700;		}
.text-brown-800			{	color: $color-brown-800;		}
.text-brown-900			{	color: $color-brown-900;		}

.text-grey 				{	color: $color-grey;				}
.text-grey-50			{	color: $color-grey-50;			}
.text-grey-100			{	color: $color-grey-100;			}
.text-grey-200			{	color: $color-grey-200;			}
.text-grey-300			{	color: $color-grey-300;			}
.text-grey-400			{	color: $color-grey-400;			}
.text-grey-500			{	color: $color-grey-500;			}
.text-grey-600			{	color: $color-grey-600;			}
.text-grey-700			{	color: $color-grey-700;			}
.text-grey-800			{	color: $color-grey-800;			}
.text-grey-900			{	color: $color-grey-900;			}

.text-blue-grey 		{	color: $color-blue-grey;		}
.text-blue-grey-50		{	color: $color-blue-grey-50;		}
.text-blue-grey-100		{	color: $color-blue-grey-100;	}
.text-blue-grey-200		{	color: $color-blue-grey-200;	}
.text-blue-grey-300		{	color: $color-blue-grey-300;	}
.text-blue-grey-400		{	color: $color-blue-grey-400;	}
.text-blue-grey-500		{	color: $color-blue-grey-500;	}
.text-blue-grey-600		{	color: $color-blue-grey-600;	}
.text-blue-grey-700		{	color: $color-blue-grey-700;	}
.text-blue-grey-800		{	color: $color-blue-grey-800;	}
.text-blue-grey-900		{	color: $color-blue-grey-900;	}
