
@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i))
		}
		@return map-fetch($value, $rest)
	} @else {
		@return $value;
	}
}

$material-font-path: "../fonts/material" !default;

@import "mixins";
@import "stylesheets/fonts";
@import "stylesheets/colors";
@import "variables";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";

@import "stylesheets/alerts";
@import "stylesheets/lists";
@import "stylesheets/animation";
@import "stylesheets/headers";
@import "stylesheets/paper";
@import "stylesheets/cards";
@import "stylesheets/elevation";
@import "stylesheets/scaffolding";
@import "stylesheets/bodyFeature";
@import "stylesheets/panels";
@import "stylesheets/text";
@import "stylesheets/background";
@import "stylesheets/forms/inputs";
@import "stylesheets/forms/checkbox";
@import "stylesheets/forms/radio";
@import "stylesheets/forms/range";
@import "stylesheets/forms/switch";
@import "stylesheets/forms/validation";
@import "stylesheets/buttons";
@import "stylesheets/jumbotron";
@import "stylesheets/breadcrumbs";
@import "stylesheets/icons";
@import "stylesheets/tile";
@import "stylesheets/progressBars";
@import "stylesheets/tabs";
@import "stylesheets/emptyState";
@import "stylesheets/utilities";

@import "stylesheets/layout/app-bar";
@import "stylesheets/layout/navigation-drawer";
@import "stylesheets/layout/status-bar";

@import "../bower_components/slick.js/slick/slick";
@import "stylesheets/_slick";
