
@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i))
		}
		@return map-fetch($value, $rest)
	} @else {
		@return $value;
	}
}

$material-font-path: "../fonts/material" !default;

@import "mixins";
@import "stylesheets/fonts";
@import "stylesheets/colors";
@import "variables";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";


@import "stylesheets/headers";
@import "stylesheets/fontAwesome";
@import "stylesheets/elevation";
@import "stylesheets/utilities";
@import "stylesheets/scaffolding";
@import "stylesheets/panels";
@import "stylesheets/text";
@import "stylesheets/background";
@import "stylesheets/inputs";
@import "stylesheets/buttons";
@import "stylesheets/jumbotron";
@import "stylesheets/breadcrumbs";
@import "stylesheets/icons";
@import "stylesheets/tile";
@import "stylesheets/progressBars";

@import "stylesheets/layout/app-bar";
@import "stylesheets/layout/navigation-drawer";
@import "stylesheets/layout/status-bar";
