
@mixin translate3d($x, $y, $z) {
	-webkit-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

@mixin transition($transition) {
	-webkit-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
	box-shadow: $shadow;
}

@mixin background-size($background-size) {
	-webkit-background-size: $background-size;
	-moz-background-size: $background-size;
	-o-background-size: $background-size;
	background-size: $background-size;
}
