//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:						normal !default;

$btn-default-color:						get-color(grey, 800) !default;
$btn-default-bg:						get-color(grey, 100) !default;
$btn-default-border:					get-color(grey, 100) !default;
$btn-default-alt:						get-color(grey, 1000) !default;

$btn-primary-color:						#fff !default;
$btn-primary-bg:						get-color(blue, 600) !default;
$btn-primary-border:					get-color(blue, 600) !default;
$btn-primary-alt:						get-color(blue, 900) !default;

$btn-success-color:						#fff !default;
$btn-success-bg:						get-color(green, 500) !default;
$btn-success-border:					get-color(green, 500) !default;
$btn-success-alt:						get-color(green, 800) !default;

$btn-info-color:						#fff !default;
$btn-info-bg:							get-color(light-blue, 200) !default;
$btn-info-border:						get-color(light-blue, 200) !default;
$btn-info-alt:							get-color(light-blue, 800) !default;

$btn-warning-color:						#fff !default;
$btn-warning-bg:						get-color(amber, 500) !default;
$btn-warning-border:					get-color(amber, 500) !default;
$btn-warning-alt:						get-color(amber, 800) !default;

$btn-danger-color:						#fff !default;
$btn-danger-bg:							get-color(red, 500) !default;
$btn-danger-border:						get-color(red, 500) !default;
$btn-danger-alt:						get-color(red, 800) !default;


$border-radius-base:					2px !default;
$border-radius-large:					2px !default;
$border-radius-small:					2px !default;

$padding-base-vertical:					3px !default;
$padding-base-horizontal:				10px !default;

$padding-extra-large-vertical:			14px !default;
$padding-extra-large-horizontal:		20px !default;
$font-size-extra-large:					ceil(($font-size-base * 2)) !default;
$line-height-extra-large:				1.33 !default;
$border-radius-extra-large:				2px !default;

$padding-extra-extra-large-vertical:	24px !default;
$padding-extra-extra-large-horizontal:	30px !default;
$font-size-extra-extra-large:			ceil(($font-size-base * 3)) !default;
$line-height-extra-extra-large:			1.33 !default;
$border-radius-extra-extra-large:		2px !default;

$nav-link-padding:						10px 30px;

$dropdown-bg:							get-color(grey, 200);
$dropdown-color:						get-color(grey, 900);
$dropdown-link-active-bg:				get-color(grey, 300);
$dropdown-link-active-color:			get-color(grey, 800);
$dropdown-link-hover-bg:				get-color(grey, 300);